/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: code;
	border-collapse: separate;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #ffffff;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dcdcdc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	max-id: 3;
	border-top-left-radius: 5px 0px;
	border-top-right-radius: 5px 0px;
	border-bottom-right-radius: 5px 0px;
	border-bottom-left-radius: 5px 0px;
	margin-left: 5px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	font-family: 'Courier New';
	background-color: #f5f5f5;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	font-size: 12px;
}


/* Cell Styles: */
 
.TableStyle-code
{
	border-collapse: separate;
	border-left-style: none;
	border-left-color: #ffffff;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #ffffff;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #dcdcdc;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dcdcdc;
	border-bottom-width: 1px;
	border-top-left-radius: 5px 0px;
	border-top-right-radius: 5px 0px;
	border-bottom-right-radius: 5px 0px;
	border-bottom-left-radius: 5px 0px;
	margin-left: 5px;
	border-spacing: 0px 0px;
}

.TableStyle-code-HeadI--
{
	
}

.TableStyle-code-HeadI-- p
{
	
}

.TableStyle-code-HeadE--
{
	
}

.TableStyle-code-HeadE-- p
{
	
}

.TableStyle-code-HeadF--
{
	
}

.TableStyle-code-HeadF-- p
{
	
}

.TableStyle-code-HeadH--
{
	
}

.TableStyle-code-HeadH-- p
{
	
}

.TableStyle-code-HeadD--
{
	
}

.TableStyle-code-HeadD-- p
{
	
}

.TableStyle-code-HeadC--
{
	
}

.TableStyle-code-HeadC-- p
{
	
}

.TableStyle-code-HeadB--
{
	
}

.TableStyle-code-HeadB-- p
{
	
}

.TableStyle-code-HeadA--
{
	
}

.TableStyle-code-HeadA-- p
{
	
}

.TableStyle-code-HeadG--
{
	
}

.TableStyle-code-HeadG-- p
{
	
}

.TableStyle-code-FootI--
{
	
}

.TableStyle-code-FootI-- p
{
	
}

.TableStyle-code-FootE--
{
	
}

.TableStyle-code-FootE-- p
{
	
}

.TableStyle-code-FootF--
{
	
}

.TableStyle-code-FootF-- p
{
	
}

.TableStyle-code-FootH--
{
	
}

.TableStyle-code-FootH-- p
{
	
}

.TableStyle-code-FootD--
{
	
}

.TableStyle-code-FootD-- p
{
	
}

.TableStyle-code-FootC--
{
	
}

.TableStyle-code-FootC-- p
{
	
}

.TableStyle-code-FootB--
{
	
}

.TableStyle-code-FootB-- p
{
	
}

.TableStyle-code-FootA--
{
	
}

.TableStyle-code-FootA-- p
{
	
}

.TableStyle-code-FootG--
{
	
}

.TableStyle-code-FootG-- p
{
	
}

.TableStyle-code-Body-Body1
{
	
}

.TableStyle-code-BodyI--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-BodyI--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyE--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-code-BodyE--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyF--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-code-BodyF--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyH--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-BodyH--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyD--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-code-BodyD--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyC--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-BodyC--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyB--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-BodyB--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyA--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-BodyA--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}

.TableStyle-code-BodyG--Body1
{
	font-family: 'Courier New';
	font-size: 12px;
	background-color: #f5f5f5;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-code-BodyG--Body1 p
{
	font-family: 'Courier New';
	font-size: 12px;
}


