/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: olh;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #dbd9d6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #dbd9d6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dbd9d6;
	max-id: 4;
	cell-padding-left: 3pt;
	cell-padding-right: 3pt;
	cell-padding-top: 3pt;
	cell-padding-bottom: 3pt;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column1;
	font-size: 10pt;
	font-family: Arial;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	size: 150pt;
	color: #4c4f54;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dbd9d6;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dcdcdc;
	name: Header1;
	id: 2;
	background-color: #dcdcdc;
	font-family: Arial;
	color: #4c4f54;
	text-align: left;
	vertical-align: middle;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #dbd9d6;
	name: Body1;
	id: 1;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	color: #4c4f54;
}


/* Cell Styles: */
 
.TableStyle-olh
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #dbd9d6;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #dbd9d6;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #dbd9d6;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dbd9d6;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-olh-Column-Column1
{
	width: 150pt;
}

.TableStyle-olh-Head-Header1
{
	
}

.TableStyle-olh-HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-olh-HeadI-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-olh-HeadE-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-olh-HeadF-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-olh-HeadH-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
	border-bottom-width: 1px;
	border-bottom-color: #dcdcdc;
	border-bottom-style: solid;
}

.TableStyle-olh-HeadD-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-olh-HeadC-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-olh-HeadB-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-olh-HeadA-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
	background-color: #dcdcdc;
}

.TableStyle-olh-HeadG-Column1-Header1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 11pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-olh-FootI-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-FootI-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootE-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
}

.TableStyle-olh-FootE-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootF-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-FootF-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootH-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
}

.TableStyle-olh-FootH-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootD-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-FootD-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootC-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-FootC-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootB-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
}

.TableStyle-olh-FootB-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootA-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-FootA-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-FootG-Column1-
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-FootG-Column1- p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-Body-Body1
{
	
}

.TableStyle-olh-BodyI-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-BodyI-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyE-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #dbd9d6;
	border-bottom-style: solid;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
}

.TableStyle-olh-BodyE-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyF-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #dbd9d6;
	border-bottom-style: solid;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-BodyF-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyH-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
}

.TableStyle-olh-BodyH-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyD-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #dbd9d6;
	border-bottom-style: solid;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-BodyD-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyC-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-BodyC-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyB-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #dbd9d6;
	border-right-style: solid;
}

.TableStyle-olh-BodyB-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyA-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-BodyA-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-olh-BodyG-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-olh-BodyG-Column1-Body1 p
{
	color: #4c4f54;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

